body {
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    line-height: 1.6;
    overflow-x: hidden;
    margin: 0;
    background-color: #edeff1;
}

html {
    font-size: 16px;
    line-height: 16px;

}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

/* header */
.header {

    background: -webkit-gradient(linear, left top, right top, from(#00417B), color-stop(50.26%, #237CB1), color-stop(52.72%, #2580B2), to(#46D2CC));

    background: -o-linear-gradient(left, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);

    background: linear-gradient(90deg, #00417B 0%, #237CB1 50.26%, #2580B2 52.72%, #46D2CC 100%);
    -webkit-box-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.159392);
            box-shadow: 0px 0.125rem 0.625rem rgba(0, 0, 0, 0.159392);
}

.header-search{
    
    background-color: #fff;
    height: 3.75rem;
    position: absolute;
    top: 0;
    padding-left: 100vw;
    right: calc(50vw + 638px);
    -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.20287);
            box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.20287);
} 

.search-title{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: #2B2B2B;
    background-color: #fff;
    height: 3.75rem;
    width: 13.1rem;
    -webkit-box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.20287);
            box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.20287);
    -webkit-clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0 100%, 0 0);
            clip-path: polygon(93% 0, 100% 50%, 93% 100%, 0 100%, 0 0);
    z-index: 10;
}


.logo-icon{
    width: 1.5rem;
    height: 1.5rem;
    fill: #00417B;
}

.search{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.main-menu {
    text-transform: uppercase;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #fff;
    font-size: 0.875rem;
}

.search-icon{
    width: 1.125rem;
    height: 1.125rem;
    fill: #2B2B2B;
}
.search__text{
    padding-left: 0.625rem;
}
.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 3.625rem;
}
@media (max-width: 1023px) {
.nav{
    padding-left: 1.625rem;
}
}
.nav-list{
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0.25rem 0 0 0;
    line-height: 3.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media (max-width: 1023px) {
.nav-list{
    font-size: 0.8rem;
}
}

.nav-list__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.1rem;
    cursor: pointer;
    opacity: 0.8;
    
}
.nav-list__link-icon-arrow{
    fill: #fff;
    vertical-align: middle;
    margin-left: .5rem;
    -webkit-transition: -webkit-transform .2s ease;
    transition: -webkit-transform .2s ease;
    -o-transition: transform .2s ease;
    transition: transform .2s ease;
    transition: transform .2s ease, -webkit-transform .2s ease;
    opacity: 0.6;
    height: 5px;
    width: 8px;
}
.nav-list__link:hover .nav-list__link-icon-arrow{
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #fff
}

.nav-list__link:first-child{
    padding-left: 0;
}

.nav-list__link:after {
    content: '';
    display: block;
    height: 0.25rem;
    background: #8DC540;
    opacity: 0;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.nav-list__link:hover {
    opacity: 1;
    
}
.nav-list__link:hover:after {
    opacity: 1;
    background-color: #8DC540;
}
.nav-list__link--active:after{
    content: '';
    display: block;
    height: 0.25rem;
    background: #8DC540;
    opacity: 1;
    -webkit-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
}
.nav__new-payment{
    width: 2.625rem ;
    height: 2.625rem;
    padding-left: 6.0625rem;
}

@media (max-width: 1023px) {
.nav__new-payment{
    padding-left: 1rem;
}
}
.nav-list__new-payment-icon{
    width: 2.625rem ;
    height: 2.625rem;
    margin: 0 0 0 0;
    fill:#fff
}
.inform {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inform__notifications-icon{
    width: 1.5625rem;
    height: 1.625rem;
}

.inform__icon{
    width: 1.5625rem;
    height: 1.625rem;
    padding-right: 3.5rem;
}
@media (max-width: 1023px) {
.inform__icon{
    padding-right: 2rem;
}
}

.inform__profile{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.inform__profile:hover .nav-list__link-icon-arrow{
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
                transform: rotate(180deg);
        fill: #fff
}
.inform__profile-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.05rem 0 0.7rem;
}
.inform__profile-icon{
    width: 1.0625rem;
    height: 1.0625rem;
    fill: #fff;
}

/* section-order */

.order__inner::-webkit-scrollbar {
    width: 6px;
}
.order__inner::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 100px
}
.order__inner::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.09);
    border-radius: 100px;
}

.order{
    width: 900px;
    -webkit-box-shadow: 0 0 1.1875rem rgba(49, 68, 93, 0.2311);
            box-shadow: 0 0 1.1875rem rgba(49, 68, 93, 0.2311);
}


/* Order */
.order__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fff;
    overflow: auto;
    height: calc(100vh - 11.25rem);
}

.order__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #2B2B2B;
    background: #f8f8f8;
    width: 100%;
    height: 3.75rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.order__header-close-icon{
    width: 1.875rem;
    height: 1.875rem;
    fill: #2B2B2B;
    margin: 0 1.625rem;
    vertical-align: middle;
}
.order__header-account {
    font-size: 1.5rem;
    font-weight: 300;
}
@media (max-width: 1023px) {
.order__header-account {
    font-size: 1.4rem;
}
}
/* sum-order */
.sum {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.sum__money {
    font-weight: 300;
    color: #CF4545;
    font-size: 2.875rem;
    padding-top: 1.625rem;
    line-height: 100%;

}
.sum__account {
    font-size: 1rem;
    color: #000;
    padding-bottom: 0.625rem;
   
}
.sum__account-item {
    font-weight: 300;
    color: #828A96;
}
.sum__status {
    font-weight: 300;
    background-color: #81C624;
    font-size: 0.69rem;
    color: #fff;
    width: 10rem;
    border-radius: 1rem;
}


/* company-card */
.container__drawer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    max-width: 100%;
}

.company-container {
    width: 60.6%;
    margin: 1rem auto;
    -webkit-filter: drop-shadow(0 5px 0.44rem rgba(0, 0, 0, 0.0869282));
            filter: drop-shadow(0 5px 0.44rem rgba(0, 0, 0, 0.0869282));
}

.company-card {
    width:100%;
    border-radius:3px;
    color:#2C2F32;
    background:#F2F2F2;
    -webkit-clip-path: polygon(94.8% 0%, 100% 9%, 100% 100%, 0% 100%, 0% 0%);
            clip-path: polygon(94.8% 0%, 100% 9%, 100% 100%, 0% 100%, 0% 0%);
}

.company-card:before {
    content:"";
    position:absolute;
    top:0;
    right:0;
    border-width:0 30px 28px 0;
    border-style: solid;
    border-color:#fff;
    opacity: 0.85;
    -webkit-box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
            box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.1);
}

.company-card__inner{
    background-color: #fff;
    padding: 1.5625rem 3.125rem   1.125rem 1.875rem;
    border-radius:3px;
    -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0869282);
            box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.0869282);
}

.company-card__inner-rounded{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.company-card__col{
    width: 45%;

}
.company-card__col--inform{
    width: 65%;
}

.company-inform{
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 1.75rem;
}

.company-name {
    color: #2C2F32;
    font-size: 1.2rem;
    margin-bottom: 0.875rem;
}

.company-inform__text{
    font-weight: 300;
    text-transform: uppercase;
}

@media (max-width: 1160px) {
.company-inform__text{
    font-size: 0.8rem;
}
.company-name{
    font-size: 1rem;
}
}

.company-stat{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    font-size: 0.55rem;
    color: #73a4d1;
    margin: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0;
    height: 100%;
    
}

.stat-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.state-item__text{
    width: 5.6rem;
    margin-right: 1rem;
    text-align: center;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}
.company-card__footer-text{
    padding: 1.25rem  1.5rem 1.25rem   1.875rem;
    color: #2B2B2B;
}
.class-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 43px;
    height: 43px;  
    border-radius: 50%;
    background-color: #a5d475; 
    color: #fff;
    font-weight: 100;
    font-size: 0.625rem;
}

.class-diagram__number{
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-family: Times, serif;
}

.circle-diagram{
    width: 43px;
    height: 43px;
    display: block;
    float: left;
}

circle {
  fill: rgba(0,0,0,0);
  stroke: #e6e6e6;
  stroke-width: 2;
  stroke-dasharray: 132px 100px;
}
circle:nth-child(2n) { 
    fill: rgba(0,0,0,0);
    stroke: #79be70;
    stroke-width: 2;
}

.circle-diagram__percentage{
    font-family: Times, serif;
    font-size: 1rem;
}
.circle-diagram__reliability{
    width: 45px;
    height: 45px;
}
.circle-diagram__finance{
    width: 45px;
    height: 45px;
}
.citrcle-diagram-use > #circle-diagram__reliability{
    width: 43px;
    height: 43px;
}

/* Формула вычисления процента процент= процент*132/100; */
.circle-diagram__finance-use > circle:nth-child(2n){
    stroke-dasharray: 116px 100px;
  
}

.circle-diagram__reliability-use > circle:nth-child(2n){ 
    stroke-dasharray: 132px 100px;
}

/* commision */
.commission{
    width: 60.6%;
    font-size: 0.75rem;
    color: #808080
}

/* toolbar */
.toolbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3.75rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

.order__footer{
    width: 60.6%;
    margin: 0 auto;
}

.toolabar__button-favorites{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.toolbar__button-text{
    padding-left: 0.625rem;
}
.toolbar__button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 0.875rem;
}
.toolbar__button a{
    color: #2c2f32;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.toolbar__button-favorites-icon{
    width: 21px;
    height: 20px;
    fill: #2B2B2B;
}
.toolbar__button-ask-icon{
    width: 22px;
    height: 20px;
    fill: #2B2B2B;
}
.toolbar__button-act-icon{
    width: 22px;
    height: 4px;
    fill: black;
}
.toolbar__button-repeat-icon{   
    width: 20px;
    height: 20px;
    fill:black;
}